<div class="row">
  <div class="col-md-12">
    <h1>{{ restaurant.name }}</h1>
    <p>[{{ restaurant.Category.name }}]</p>
  </div>
  <div class="col-md-8">
    <ul>
      <li>評論數：{{ restaurant.Comments.length }}</li>
      <li>瀏覽次數</li>
      <li>收藏數</li>
    </ul>
  </div>
  <hr>
</div>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>