  <div class="card card-body row d-flex justify-content-center align-items-center" style="height: 15rem">
    <div class="profile-avatar col-2">
      <img src="{{ otherUser.image }}" alt="" class="border rounded-circle mx-auto"
        style="width: 150px; height: 150px;">
    </div>
    <div class="profile-info col-5 ml-5">
      <h1>{{ otherUser.name }}</h1>
      <div>{{ otherUser.email }}</div>
      {{#if isIdOwner}}
      <a href="/users/{{ user.id }}/edit" class="btn btn-primary mt-5 px-5">Edit</a>
      {{/if}}
    </div>
    <div class="profile-activity col-5">

    </div>
  </div>